<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.HelpMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.Help" >
    <id column="help_id" property="helpId" jdbcType="INTEGER" />
    <result column="help_step" property="helpStep" jdbcType="VARCHAR" />
    <result column="help_content" property="helpContent" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.neusoft.bean.Help" extends="BaseResultMap" >
    <result column="help_picture" property="helpPicture" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    help_id, help_step, help_content
  </sql>
  <sql id="Blob_Column_List" >
    help_picture
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.neusoft.bean.HelpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.HelpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from help
    where help_id = #{helpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from help
    where help_id = #{helpId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.HelpExample" >
    delete from help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.Help" >
    insert into help (help_id, help_step, help_content, 
      help_picture)
    values (#{helpId,jdbcType=INTEGER}, #{helpStep,jdbcType=VARCHAR}, #{helpContent,jdbcType=VARCHAR}, 
      #{helpPicture,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.Help" >
    insert into help
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="helpId != null" >
        help_id,
      </if>
      <if test="helpStep != null" >
        help_step,
      </if>
      <if test="helpContent != null" >
        help_content,
      </if>
      <if test="helpPicture != null" >
        help_picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="helpId != null" >
        #{helpId,jdbcType=INTEGER},
      </if>
      <if test="helpStep != null" >
        #{helpStep,jdbcType=VARCHAR},
      </if>
      <if test="helpContent != null" >
        #{helpContent,jdbcType=VARCHAR},
      </if>
      <if test="helpPicture != null" >
        #{helpPicture,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.HelpExample" resultType="java.lang.Integer" >
    select count(*) from help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update help
    <set >
      <if test="record.helpId != null" >
        help_id = #{record.helpId,jdbcType=INTEGER},
      </if>
      <if test="record.helpStep != null" >
        help_step = #{record.helpStep,jdbcType=VARCHAR},
      </if>
      <if test="record.helpContent != null" >
        help_content = #{record.helpContent,jdbcType=VARCHAR},
      </if>
      <if test="record.helpPicture != null" >
        help_picture = #{record.helpPicture,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update help
    set help_id = #{record.helpId,jdbcType=INTEGER},
      help_step = #{record.helpStep,jdbcType=VARCHAR},
      help_content = #{record.helpContent,jdbcType=VARCHAR},
      help_picture = #{record.helpPicture,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update help
    set help_id = #{record.helpId,jdbcType=INTEGER},
      help_step = #{record.helpStep,jdbcType=VARCHAR},
      help_content = #{record.helpContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.Help" >
    update help
    <set >
      <if test="helpStep != null" >
        help_step = #{helpStep,jdbcType=VARCHAR},
      </if>
      <if test="helpContent != null" >
        help_content = #{helpContent,jdbcType=VARCHAR},
      </if>
      <if test="helpPicture != null" >
        help_picture = #{helpPicture,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where help_id = #{helpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.neusoft.bean.Help" >
    update help
    set help_step = #{helpStep,jdbcType=VARCHAR},
      help_content = #{helpContent,jdbcType=VARCHAR},
      help_picture = #{helpPicture,jdbcType=LONGVARBINARY}
    where help_id = #{helpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.Help" >
    update help
    set help_step = #{helpStep,jdbcType=VARCHAR},
      help_content = #{helpContent,jdbcType=VARCHAR}
    where help_id = #{helpId,jdbcType=INTEGER}
  </update>
</mapper>