<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingGlassesMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.TeamshoppingGlasses" >
    <id column="ts_glasses_id" property="tsGlassesId" jdbcType="INTEGER" />
    <result column="ts_glasses_brand" property="tsGlassesBrand" jdbcType="VARCHAR" />
    <result column="ts_glasses_type" property="tsGlassesType" jdbcType="VARCHAR" />
    <result column="ts_glasses_style" property="tsGlassesStyle" jdbcType="VARCHAR" />
    <result column="ts_glasses_size" property="tsGlassesSize" jdbcType="VARCHAR" />
    <result column="ts_glasses_color" property="tsGlassesColor" jdbcType="VARCHAR" />
    <result column="ts_glasses_framematerial" property="tsGlassesFramematerial" jdbcType="VARCHAR" />
    <result column="ts_glasses_lensmaterial" property="tsGlassesLensmaterial" jdbcType="VARCHAR" />
    <result column="ts_glasses_picture" property="tsGlassesPicture" jdbcType="VARCHAR" />
    <result column="ts_glasses_number" property="tsGlassesNumber" jdbcType="INTEGER" />
    <result column="ts_glasses_money" property="tsGlassesMoney" jdbcType="DOUBLE" />
    <result column="ts_glasses_introduce" property="tsGlassesIntroduce" jdbcType="VARCHAR" />
    <result column="ts_glasses_state" property="tsGlassesState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ts_glasses_id, ts_glasses_brand, ts_glasses_type, ts_glasses_style, ts_glasses_size, 
    ts_glasses_color, ts_glasses_framematerial, ts_glasses_lensmaterial, ts_glasses_picture, 
    ts_glasses_number, ts_glasses_money, ts_glasses_introduce, ts_glasses_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.TeamshoppingGlassesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teamshopping_glasses
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teamshopping_glasses
    where ts_glasses_id = #{tsGlassesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teamshopping_glasses
    where ts_glasses_id = #{tsGlassesId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.TeamshoppingGlassesExample" >
    delete from teamshopping_glasses
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.TeamshoppingGlasses" >
    insert into teamshopping_glasses (ts_glasses_id, ts_glasses_brand, ts_glasses_type, 
      ts_glasses_style, ts_glasses_size, ts_glasses_color, 
      ts_glasses_framematerial, ts_glasses_lensmaterial, 
      ts_glasses_picture, ts_glasses_number, ts_glasses_money, 
      ts_glasses_introduce, ts_glasses_state)
    values (#{tsGlassesId,jdbcType=INTEGER}, #{tsGlassesBrand,jdbcType=VARCHAR}, #{tsGlassesType,jdbcType=VARCHAR}, 
      #{tsGlassesStyle,jdbcType=VARCHAR}, #{tsGlassesSize,jdbcType=VARCHAR}, #{tsGlassesColor,jdbcType=VARCHAR}, 
      #{tsGlassesFramematerial,jdbcType=VARCHAR}, #{tsGlassesLensmaterial,jdbcType=VARCHAR}, 
      #{tsGlassesPicture,jdbcType=VARCHAR}, #{tsGlassesNumber,jdbcType=INTEGER}, #{tsGlassesMoney,jdbcType=DOUBLE}, 
      #{tsGlassesIntroduce,jdbcType=VARCHAR}, #{tsGlassesState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.TeamshoppingGlasses" >
    insert into teamshopping_glasses
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tsGlassesId != null" >
        ts_glasses_id,
      </if>
      <if test="tsGlassesBrand != null" >
        ts_glasses_brand,
      </if>
      <if test="tsGlassesType != null" >
        ts_glasses_type,
      </if>
      <if test="tsGlassesStyle != null" >
        ts_glasses_style,
      </if>
      <if test="tsGlassesSize != null" >
        ts_glasses_size,
      </if>
      <if test="tsGlassesColor != null" >
        ts_glasses_color,
      </if>
      <if test="tsGlassesFramematerial != null" >
        ts_glasses_framematerial,
      </if>
      <if test="tsGlassesLensmaterial != null" >
        ts_glasses_lensmaterial,
      </if>
      <if test="tsGlassesPicture != null" >
        ts_glasses_picture,
      </if>
      <if test="tsGlassesNumber != null" >
        ts_glasses_number,
      </if>
      <if test="tsGlassesMoney != null" >
        ts_glasses_money,
      </if>
      <if test="tsGlassesIntroduce != null" >
        ts_glasses_introduce,
      </if>
      <if test="tsGlassesState != null" >
        ts_glasses_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tsGlassesId != null" >
        #{tsGlassesId,jdbcType=INTEGER},
      </if>
      <if test="tsGlassesBrand != null" >
        #{tsGlassesBrand,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesType != null" >
        #{tsGlassesType,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesStyle != null" >
        #{tsGlassesStyle,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesSize != null" >
        #{tsGlassesSize,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesColor != null" >
        #{tsGlassesColor,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesFramematerial != null" >
        #{tsGlassesFramematerial,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesLensmaterial != null" >
        #{tsGlassesLensmaterial,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesPicture != null" >
        #{tsGlassesPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesNumber != null" >
        #{tsGlassesNumber,jdbcType=INTEGER},
      </if>
      <if test="tsGlassesMoney != null" >
        #{tsGlassesMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsGlassesIntroduce != null" >
        #{tsGlassesIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesState != null" >
        #{tsGlassesState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.TeamshoppingGlassesExample" resultType="java.lang.Integer" >
    select count(*) from teamshopping_glasses
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teamshopping_glasses
    <set >
      <if test="record.tsGlassesId != null" >
        ts_glasses_id = #{record.tsGlassesId,jdbcType=INTEGER},
      </if>
      <if test="record.tsGlassesBrand != null" >
        ts_glasses_brand = #{record.tsGlassesBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGlassesType != null" >
        ts_glasses_type = #{record.tsGlassesType,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGlassesStyle != null" >
        ts_glasses_style = #{record.tsGlassesStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGlassesSize != null" >
        ts_glasses_size = #{record.tsGlassesSize,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGlassesColor != null" >
        ts_glasses_color = #{record.tsGlassesColor,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGlassesFramematerial != null" >
        ts_glasses_framematerial = #{record.tsGlassesFramematerial,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGlassesLensmaterial != null" >
        ts_glasses_lensmaterial = #{record.tsGlassesLensmaterial,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGlassesPicture != null" >
        ts_glasses_picture = #{record.tsGlassesPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGlassesNumber != null" >
        ts_glasses_number = #{record.tsGlassesNumber,jdbcType=INTEGER},
      </if>
      <if test="record.tsGlassesMoney != null" >
        ts_glasses_money = #{record.tsGlassesMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.tsGlassesIntroduce != null" >
        ts_glasses_introduce = #{record.tsGlassesIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGlassesState != null" >
        ts_glasses_state = #{record.tsGlassesState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teamshopping_glasses
    set ts_glasses_id = #{record.tsGlassesId,jdbcType=INTEGER},
      ts_glasses_brand = #{record.tsGlassesBrand,jdbcType=VARCHAR},
      ts_glasses_type = #{record.tsGlassesType,jdbcType=VARCHAR},
      ts_glasses_style = #{record.tsGlassesStyle,jdbcType=VARCHAR},
      ts_glasses_size = #{record.tsGlassesSize,jdbcType=VARCHAR},
      ts_glasses_color = #{record.tsGlassesColor,jdbcType=VARCHAR},
      ts_glasses_framematerial = #{record.tsGlassesFramematerial,jdbcType=VARCHAR},
      ts_glasses_lensmaterial = #{record.tsGlassesLensmaterial,jdbcType=VARCHAR},
      ts_glasses_picture = #{record.tsGlassesPicture,jdbcType=VARCHAR},
      ts_glasses_number = #{record.tsGlassesNumber,jdbcType=INTEGER},
      ts_glasses_money = #{record.tsGlassesMoney,jdbcType=DOUBLE},
      ts_glasses_introduce = #{record.tsGlassesIntroduce,jdbcType=VARCHAR},
      ts_glasses_state = #{record.tsGlassesState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.TeamshoppingGlasses" >
    update teamshopping_glasses
    <set >
      <if test="tsGlassesBrand != null" >
        ts_glasses_brand = #{tsGlassesBrand,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesType != null" >
        ts_glasses_type = #{tsGlassesType,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesStyle != null" >
        ts_glasses_style = #{tsGlassesStyle,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesSize != null" >
        ts_glasses_size = #{tsGlassesSize,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesColor != null" >
        ts_glasses_color = #{tsGlassesColor,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesFramematerial != null" >
        ts_glasses_framematerial = #{tsGlassesFramematerial,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesLensmaterial != null" >
        ts_glasses_lensmaterial = #{tsGlassesLensmaterial,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesPicture != null" >
        ts_glasses_picture = #{tsGlassesPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesNumber != null" >
        ts_glasses_number = #{tsGlassesNumber,jdbcType=INTEGER},
      </if>
      <if test="tsGlassesMoney != null" >
        ts_glasses_money = #{tsGlassesMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsGlassesIntroduce != null" >
        ts_glasses_introduce = #{tsGlassesIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsGlassesState != null" >
        ts_glasses_state = #{tsGlassesState,jdbcType=VARCHAR},
      </if>
    </set>
    where ts_glasses_id = #{tsGlassesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.TeamshoppingGlasses" >
    update teamshopping_glasses
    set ts_glasses_brand = #{tsGlassesBrand,jdbcType=VARCHAR},
      ts_glasses_type = #{tsGlassesType,jdbcType=VARCHAR},
      ts_glasses_style = #{tsGlassesStyle,jdbcType=VARCHAR},
      ts_glasses_size = #{tsGlassesSize,jdbcType=VARCHAR},
      ts_glasses_color = #{tsGlassesColor,jdbcType=VARCHAR},
      ts_glasses_framematerial = #{tsGlassesFramematerial,jdbcType=VARCHAR},
      ts_glasses_lensmaterial = #{tsGlassesLensmaterial,jdbcType=VARCHAR},
      ts_glasses_picture = #{tsGlassesPicture,jdbcType=VARCHAR},
      ts_glasses_number = #{tsGlassesNumber,jdbcType=INTEGER},
      ts_glasses_money = #{tsGlassesMoney,jdbcType=DOUBLE},
      ts_glasses_introduce = #{tsGlassesIntroduce,jdbcType=VARCHAR},
      ts_glasses_state = #{tsGlassesState,jdbcType=VARCHAR}
    where ts_glasses_id = #{tsGlassesId,jdbcType=INTEGER}
  </update>
</mapper>