<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingTravelMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.TeamshoppingTravel" >
    <id column="ts_travel_id" property="tsTravelId" jdbcType="INTEGER" />
    <result column="ts_travel_teamname" property="tsTravelTeamname" jdbcType="VARCHAR" />
    <result column="ts_travel_guide" property="tsTravelGuide" jdbcType="VARCHAR" />
    <result column="ts_travel_style" property="tsTravelStyle" jdbcType="VARCHAR" />
    <result column="ts_travel_destination" property="tsTravelDestination" jdbcType="VARCHAR" />
    <result column="ts_travel_goland" property="tsTravelGoland" jdbcType="VARCHAR" />
    <result column="ts_travel_gotime" property="tsTravelGotime" jdbcType="DATE" />
    <result column="ts_travel_playtime" property="tsTravelPlaytime" jdbcType="INTEGER" />
    <result column="ts_travel_route" property="tsTravelRoute" jdbcType="VARCHAR" />
    <result column="ts_travel_picture" property="tsTravelPicture" jdbcType="VARCHAR" />
    <result column="ts_travel_number" property="tsTravelNumber" jdbcType="INTEGER" />
    <result column="ts_travel_money" property="tsTravelMoney" jdbcType="DOUBLE" />
    <result column="ts_travel_introduce" property="tsTravelIntroduce" jdbcType="VARCHAR" />
    <result column="ts_travel_state" property="tsTravelState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ts_travel_id, ts_travel_teamname, ts_travel_guide, ts_travel_style, ts_travel_destination, 
    ts_travel_goland, ts_travel_gotime, ts_travel_playtime, ts_travel_route, ts_travel_picture, 
    ts_travel_number, ts_travel_money, ts_travel_introduce, ts_travel_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.TeamshoppingTravelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teamshopping_travel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teamshopping_travel
    where ts_travel_id = #{tsTravelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teamshopping_travel
    where ts_travel_id = #{tsTravelId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.TeamshoppingTravelExample" >
    delete from teamshopping_travel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.TeamshoppingTravel" >
    insert into teamshopping_travel (ts_travel_id, ts_travel_teamname, ts_travel_guide, 
      ts_travel_style, ts_travel_destination, ts_travel_goland, 
      ts_travel_gotime, ts_travel_playtime, ts_travel_route, 
      ts_travel_picture, ts_travel_number, ts_travel_money, 
      ts_travel_introduce, ts_travel_state)
    values (#{tsTravelId,jdbcType=INTEGER}, #{tsTravelTeamname,jdbcType=VARCHAR}, #{tsTravelGuide,jdbcType=VARCHAR}, 
      #{tsTravelStyle,jdbcType=VARCHAR}, #{tsTravelDestination,jdbcType=VARCHAR}, #{tsTravelGoland,jdbcType=VARCHAR}, 
      #{tsTravelGotime,jdbcType=DATE}, #{tsTravelPlaytime,jdbcType=INTEGER}, #{tsTravelRoute,jdbcType=VARCHAR}, 
      #{tsTravelPicture,jdbcType=VARCHAR}, #{tsTravelNumber,jdbcType=INTEGER}, #{tsTravelMoney,jdbcType=DOUBLE}, 
      #{tsTravelIntroduce,jdbcType=VARCHAR}, #{tsTravelState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.TeamshoppingTravel" >
    insert into teamshopping_travel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tsTravelId != null" >
        ts_travel_id,
      </if>
      <if test="tsTravelTeamname != null" >
        ts_travel_teamname,
      </if>
      <if test="tsTravelGuide != null" >
        ts_travel_guide,
      </if>
      <if test="tsTravelStyle != null" >
        ts_travel_style,
      </if>
      <if test="tsTravelDestination != null" >
        ts_travel_destination,
      </if>
      <if test="tsTravelGoland != null" >
        ts_travel_goland,
      </if>
      <if test="tsTravelGotime != null" >
        ts_travel_gotime,
      </if>
      <if test="tsTravelPlaytime != null" >
        ts_travel_playtime,
      </if>
      <if test="tsTravelRoute != null" >
        ts_travel_route,
      </if>
      <if test="tsTravelPicture != null" >
        ts_travel_picture,
      </if>
      <if test="tsTravelNumber != null" >
        ts_travel_number,
      </if>
      <if test="tsTravelMoney != null" >
        ts_travel_money,
      </if>
      <if test="tsTravelIntroduce != null" >
        ts_travel_introduce,
      </if>
      <if test="tsTravelState != null" >
        ts_travel_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tsTravelId != null" >
        #{tsTravelId,jdbcType=INTEGER},
      </if>
      <if test="tsTravelTeamname != null" >
        #{tsTravelTeamname,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelGuide != null" >
        #{tsTravelGuide,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelStyle != null" >
        #{tsTravelStyle,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelDestination != null" >
        #{tsTravelDestination,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelGoland != null" >
        #{tsTravelGoland,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelGotime != null" >
        #{tsTravelGotime,jdbcType=DATE},
      </if>
      <if test="tsTravelPlaytime != null" >
        #{tsTravelPlaytime,jdbcType=INTEGER},
      </if>
      <if test="tsTravelRoute != null" >
        #{tsTravelRoute,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelPicture != null" >
        #{tsTravelPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelNumber != null" >
        #{tsTravelNumber,jdbcType=INTEGER},
      </if>
      <if test="tsTravelMoney != null" >
        #{tsTravelMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsTravelIntroduce != null" >
        #{tsTravelIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelState != null" >
        #{tsTravelState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.TeamshoppingTravelExample" resultType="java.lang.Integer" >
    select count(*) from teamshopping_travel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teamshopping_travel
    <set >
      <if test="record.tsTravelId != null" >
        ts_travel_id = #{record.tsTravelId,jdbcType=INTEGER},
      </if>
      <if test="record.tsTravelTeamname != null" >
        ts_travel_teamname = #{record.tsTravelTeamname,jdbcType=VARCHAR},
      </if>
      <if test="record.tsTravelGuide != null" >
        ts_travel_guide = #{record.tsTravelGuide,jdbcType=VARCHAR},
      </if>
      <if test="record.tsTravelStyle != null" >
        ts_travel_style = #{record.tsTravelStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.tsTravelDestination != null" >
        ts_travel_destination = #{record.tsTravelDestination,jdbcType=VARCHAR},
      </if>
      <if test="record.tsTravelGoland != null" >
        ts_travel_goland = #{record.tsTravelGoland,jdbcType=VARCHAR},
      </if>
      <if test="record.tsTravelGotime != null" >
        ts_travel_gotime = #{record.tsTravelGotime,jdbcType=DATE},
      </if>
      <if test="record.tsTravelPlaytime != null" >
        ts_travel_playtime = #{record.tsTravelPlaytime,jdbcType=INTEGER},
      </if>
      <if test="record.tsTravelRoute != null" >
        ts_travel_route = #{record.tsTravelRoute,jdbcType=VARCHAR},
      </if>
      <if test="record.tsTravelPicture != null" >
        ts_travel_picture = #{record.tsTravelPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.tsTravelNumber != null" >
        ts_travel_number = #{record.tsTravelNumber,jdbcType=INTEGER},
      </if>
      <if test="record.tsTravelMoney != null" >
        ts_travel_money = #{record.tsTravelMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.tsTravelIntroduce != null" >
        ts_travel_introduce = #{record.tsTravelIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.tsTravelState != null" >
        ts_travel_state = #{record.tsTravelState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teamshopping_travel
    set ts_travel_id = #{record.tsTravelId,jdbcType=INTEGER},
      ts_travel_teamname = #{record.tsTravelTeamname,jdbcType=VARCHAR},
      ts_travel_guide = #{record.tsTravelGuide,jdbcType=VARCHAR},
      ts_travel_style = #{record.tsTravelStyle,jdbcType=VARCHAR},
      ts_travel_destination = #{record.tsTravelDestination,jdbcType=VARCHAR},
      ts_travel_goland = #{record.tsTravelGoland,jdbcType=VARCHAR},
      ts_travel_gotime = #{record.tsTravelGotime,jdbcType=DATE},
      ts_travel_playtime = #{record.tsTravelPlaytime,jdbcType=INTEGER},
      ts_travel_route = #{record.tsTravelRoute,jdbcType=VARCHAR},
      ts_travel_picture = #{record.tsTravelPicture,jdbcType=VARCHAR},
      ts_travel_number = #{record.tsTravelNumber,jdbcType=INTEGER},
      ts_travel_money = #{record.tsTravelMoney,jdbcType=DOUBLE},
      ts_travel_introduce = #{record.tsTravelIntroduce,jdbcType=VARCHAR},
      ts_travel_state = #{record.tsTravelState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.TeamshoppingTravel" >
    update teamshopping_travel
    <set >
      <if test="tsTravelTeamname != null" >
        ts_travel_teamname = #{tsTravelTeamname,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelGuide != null" >
        ts_travel_guide = #{tsTravelGuide,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelStyle != null" >
        ts_travel_style = #{tsTravelStyle,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelDestination != null" >
        ts_travel_destination = #{tsTravelDestination,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelGoland != null" >
        ts_travel_goland = #{tsTravelGoland,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelGotime != null" >
        ts_travel_gotime = #{tsTravelGotime,jdbcType=DATE},
      </if>
      <if test="tsTravelPlaytime != null" >
        ts_travel_playtime = #{tsTravelPlaytime,jdbcType=INTEGER},
      </if>
      <if test="tsTravelRoute != null" >
        ts_travel_route = #{tsTravelRoute,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelPicture != null" >
        ts_travel_picture = #{tsTravelPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelNumber != null" >
        ts_travel_number = #{tsTravelNumber,jdbcType=INTEGER},
      </if>
      <if test="tsTravelMoney != null" >
        ts_travel_money = #{tsTravelMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsTravelIntroduce != null" >
        ts_travel_introduce = #{tsTravelIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsTravelState != null" >
        ts_travel_state = #{tsTravelState,jdbcType=VARCHAR},
      </if>
    </set>
    where ts_travel_id = #{tsTravelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.TeamshoppingTravel" >
    update teamshopping_travel
    set ts_travel_teamname = #{tsTravelTeamname,jdbcType=VARCHAR},
      ts_travel_guide = #{tsTravelGuide,jdbcType=VARCHAR},
      ts_travel_style = #{tsTravelStyle,jdbcType=VARCHAR},
      ts_travel_destination = #{tsTravelDestination,jdbcType=VARCHAR},
      ts_travel_goland = #{tsTravelGoland,jdbcType=VARCHAR},
      ts_travel_gotime = #{tsTravelGotime,jdbcType=DATE},
      ts_travel_playtime = #{tsTravelPlaytime,jdbcType=INTEGER},
      ts_travel_route = #{tsTravelRoute,jdbcType=VARCHAR},
      ts_travel_picture = #{tsTravelPicture,jdbcType=VARCHAR},
      ts_travel_number = #{tsTravelNumber,jdbcType=INTEGER},
      ts_travel_money = #{tsTravelMoney,jdbcType=DOUBLE},
      ts_travel_introduce = #{tsTravelIntroduce,jdbcType=VARCHAR},
      ts_travel_state = #{tsTravelState,jdbcType=VARCHAR}
    where ts_travel_id = #{tsTravelId,jdbcType=INTEGER}
  </update>
</mapper>