<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingFurnitureMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.TeamshoppingFurniture" >
    <id column="ts_furniture_id" property="tsFurnitureId" jdbcType="INTEGER" />
    <result column="ts_furniture_type" property="tsFurnitureType" jdbcType="VARCHAR" />
    <result column="ts_furniture_style" property="tsFurnitureStyle" jdbcType="VARCHAR" />
    <result column="ts_furniture_size" property="tsFurnitureSize" jdbcType="VARCHAR" />
    <result column="ts_furniture_color" property="tsFurnitureColor" jdbcType="VARCHAR" />
    <result column="ts_furniture_material" property="tsFurnitureMaterial" jdbcType="VARCHAR" />
    <result column="ts_furniture_land" property="tsFurnitureLand" jdbcType="VARCHAR" />
    <result column="ts_furniture_capacity" property="tsFurnitureCapacity" jdbcType="VARCHAR" />
    <result column="ts_furniture_picture" property="tsFurniturePicture" jdbcType="VARCHAR" />
    <result column="ts_furniture_number" property="tsFurnitureNumber" jdbcType="INTEGER" />
    <result column="ts_furniture_money" property="tsFurnitureMoney" jdbcType="DOUBLE" />
    <result column="ts_furniture_introduce" property="tsFurnitureIntroduce" jdbcType="VARCHAR" />
    <result column="ts_furniture_state" property="tsFurnitureState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ts_furniture_id, ts_furniture_type, ts_furniture_style, ts_furniture_size, ts_furniture_color, 
    ts_furniture_material, ts_furniture_land, ts_furniture_capacity, ts_furniture_picture, 
    ts_furniture_number, ts_furniture_money, ts_furniture_introduce, ts_furniture_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.TeamshoppingFurnitureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teamshopping_furniture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teamshopping_furniture
    where ts_furniture_id = #{tsFurnitureId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teamshopping_furniture
    where ts_furniture_id = #{tsFurnitureId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.TeamshoppingFurnitureExample" >
    delete from teamshopping_furniture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.TeamshoppingFurniture" >
    insert into teamshopping_furniture (ts_furniture_id, ts_furniture_type, ts_furniture_style, 
      ts_furniture_size, ts_furniture_color, ts_furniture_material, 
      ts_furniture_land, ts_furniture_capacity, ts_furniture_picture, 
      ts_furniture_number, ts_furniture_money, ts_furniture_introduce, 
      ts_furniture_state)
    values (#{tsFurnitureId,jdbcType=INTEGER}, #{tsFurnitureType,jdbcType=VARCHAR}, #{tsFurnitureStyle,jdbcType=VARCHAR}, 
      #{tsFurnitureSize,jdbcType=VARCHAR}, #{tsFurnitureColor,jdbcType=VARCHAR}, #{tsFurnitureMaterial,jdbcType=VARCHAR}, 
      #{tsFurnitureLand,jdbcType=VARCHAR}, #{tsFurnitureCapacity,jdbcType=VARCHAR}, #{tsFurniturePicture,jdbcType=VARCHAR}, 
      #{tsFurnitureNumber,jdbcType=INTEGER}, #{tsFurnitureMoney,jdbcType=DOUBLE}, #{tsFurnitureIntroduce,jdbcType=VARCHAR}, 
      #{tsFurnitureState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.TeamshoppingFurniture" >
    insert into teamshopping_furniture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tsFurnitureId != null" >
        ts_furniture_id,
      </if>
      <if test="tsFurnitureType != null" >
        ts_furniture_type,
      </if>
      <if test="tsFurnitureStyle != null" >
        ts_furniture_style,
      </if>
      <if test="tsFurnitureSize != null" >
        ts_furniture_size,
      </if>
      <if test="tsFurnitureColor != null" >
        ts_furniture_color,
      </if>
      <if test="tsFurnitureMaterial != null" >
        ts_furniture_material,
      </if>
      <if test="tsFurnitureLand != null" >
        ts_furniture_land,
      </if>
      <if test="tsFurnitureCapacity != null" >
        ts_furniture_capacity,
      </if>
      <if test="tsFurniturePicture != null" >
        ts_furniture_picture,
      </if>
      <if test="tsFurnitureNumber != null" >
        ts_furniture_number,
      </if>
      <if test="tsFurnitureMoney != null" >
        ts_furniture_money,
      </if>
      <if test="tsFurnitureIntroduce != null" >
        ts_furniture_introduce,
      </if>
      <if test="tsFurnitureState != null" >
        ts_furniture_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tsFurnitureId != null" >
        #{tsFurnitureId,jdbcType=INTEGER},
      </if>
      <if test="tsFurnitureType != null" >
        #{tsFurnitureType,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureStyle != null" >
        #{tsFurnitureStyle,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureSize != null" >
        #{tsFurnitureSize,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureColor != null" >
        #{tsFurnitureColor,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureMaterial != null" >
        #{tsFurnitureMaterial,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureLand != null" >
        #{tsFurnitureLand,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureCapacity != null" >
        #{tsFurnitureCapacity,jdbcType=VARCHAR},
      </if>
      <if test="tsFurniturePicture != null" >
        #{tsFurniturePicture,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureNumber != null" >
        #{tsFurnitureNumber,jdbcType=INTEGER},
      </if>
      <if test="tsFurnitureMoney != null" >
        #{tsFurnitureMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsFurnitureIntroduce != null" >
        #{tsFurnitureIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureState != null" >
        #{tsFurnitureState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.TeamshoppingFurnitureExample" resultType="java.lang.Integer" >
    select count(*) from teamshopping_furniture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teamshopping_furniture
    <set >
      <if test="record.tsFurnitureId != null" >
        ts_furniture_id = #{record.tsFurnitureId,jdbcType=INTEGER},
      </if>
      <if test="record.tsFurnitureType != null" >
        ts_furniture_type = #{record.tsFurnitureType,jdbcType=VARCHAR},
      </if>
      <if test="record.tsFurnitureStyle != null" >
        ts_furniture_style = #{record.tsFurnitureStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.tsFurnitureSize != null" >
        ts_furniture_size = #{record.tsFurnitureSize,jdbcType=VARCHAR},
      </if>
      <if test="record.tsFurnitureColor != null" >
        ts_furniture_color = #{record.tsFurnitureColor,jdbcType=VARCHAR},
      </if>
      <if test="record.tsFurnitureMaterial != null" >
        ts_furniture_material = #{record.tsFurnitureMaterial,jdbcType=VARCHAR},
      </if>
      <if test="record.tsFurnitureLand != null" >
        ts_furniture_land = #{record.tsFurnitureLand,jdbcType=VARCHAR},
      </if>
      <if test="record.tsFurnitureCapacity != null" >
        ts_furniture_capacity = #{record.tsFurnitureCapacity,jdbcType=VARCHAR},
      </if>
      <if test="record.tsFurniturePicture != null" >
        ts_furniture_picture = #{record.tsFurniturePicture,jdbcType=VARCHAR},
      </if>
      <if test="record.tsFurnitureNumber != null" >
        ts_furniture_number = #{record.tsFurnitureNumber,jdbcType=INTEGER},
      </if>
      <if test="record.tsFurnitureMoney != null" >
        ts_furniture_money = #{record.tsFurnitureMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.tsFurnitureIntroduce != null" >
        ts_furniture_introduce = #{record.tsFurnitureIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.tsFurnitureState != null" >
        ts_furniture_state = #{record.tsFurnitureState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teamshopping_furniture
    set ts_furniture_id = #{record.tsFurnitureId,jdbcType=INTEGER},
      ts_furniture_type = #{record.tsFurnitureType,jdbcType=VARCHAR},
      ts_furniture_style = #{record.tsFurnitureStyle,jdbcType=VARCHAR},
      ts_furniture_size = #{record.tsFurnitureSize,jdbcType=VARCHAR},
      ts_furniture_color = #{record.tsFurnitureColor,jdbcType=VARCHAR},
      ts_furniture_material = #{record.tsFurnitureMaterial,jdbcType=VARCHAR},
      ts_furniture_land = #{record.tsFurnitureLand,jdbcType=VARCHAR},
      ts_furniture_capacity = #{record.tsFurnitureCapacity,jdbcType=VARCHAR},
      ts_furniture_picture = #{record.tsFurniturePicture,jdbcType=VARCHAR},
      ts_furniture_number = #{record.tsFurnitureNumber,jdbcType=INTEGER},
      ts_furniture_money = #{record.tsFurnitureMoney,jdbcType=DOUBLE},
      ts_furniture_introduce = #{record.tsFurnitureIntroduce,jdbcType=VARCHAR},
      ts_furniture_state = #{record.tsFurnitureState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.TeamshoppingFurniture" >
    update teamshopping_furniture
    <set >
      <if test="tsFurnitureType != null" >
        ts_furniture_type = #{tsFurnitureType,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureStyle != null" >
        ts_furniture_style = #{tsFurnitureStyle,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureSize != null" >
        ts_furniture_size = #{tsFurnitureSize,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureColor != null" >
        ts_furniture_color = #{tsFurnitureColor,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureMaterial != null" >
        ts_furniture_material = #{tsFurnitureMaterial,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureLand != null" >
        ts_furniture_land = #{tsFurnitureLand,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureCapacity != null" >
        ts_furniture_capacity = #{tsFurnitureCapacity,jdbcType=VARCHAR},
      </if>
      <if test="tsFurniturePicture != null" >
        ts_furniture_picture = #{tsFurniturePicture,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureNumber != null" >
        ts_furniture_number = #{tsFurnitureNumber,jdbcType=INTEGER},
      </if>
      <if test="tsFurnitureMoney != null" >
        ts_furniture_money = #{tsFurnitureMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsFurnitureIntroduce != null" >
        ts_furniture_introduce = #{tsFurnitureIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsFurnitureState != null" >
        ts_furniture_state = #{tsFurnitureState,jdbcType=VARCHAR},
      </if>
    </set>
    where ts_furniture_id = #{tsFurnitureId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.TeamshoppingFurniture" >
    update teamshopping_furniture
    set ts_furniture_type = #{tsFurnitureType,jdbcType=VARCHAR},
      ts_furniture_style = #{tsFurnitureStyle,jdbcType=VARCHAR},
      ts_furniture_size = #{tsFurnitureSize,jdbcType=VARCHAR},
      ts_furniture_color = #{tsFurnitureColor,jdbcType=VARCHAR},
      ts_furniture_material = #{tsFurnitureMaterial,jdbcType=VARCHAR},
      ts_furniture_land = #{tsFurnitureLand,jdbcType=VARCHAR},
      ts_furniture_capacity = #{tsFurnitureCapacity,jdbcType=VARCHAR},
      ts_furniture_picture = #{tsFurniturePicture,jdbcType=VARCHAR},
      ts_furniture_number = #{tsFurnitureNumber,jdbcType=INTEGER},
      ts_furniture_money = #{tsFurnitureMoney,jdbcType=DOUBLE},
      ts_furniture_introduce = #{tsFurnitureIntroduce,jdbcType=VARCHAR},
      ts_furniture_state = #{tsFurnitureState,jdbcType=VARCHAR}
    where ts_furniture_id = #{tsFurnitureId,jdbcType=INTEGER}
  </update>
</mapper>