<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingComputerMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.TeamshoppingComputer" >
    <id column="ts_computer_id" property="tsComputerId" jdbcType="INTEGER" />
    <result column="ts_computer_brand" property="tsComputerBrand" jdbcType="VARCHAR" />
    <result column="ts_computer_model" property="tsComputerModel" jdbcType="VARCHAR" />
    <result column="ts_computer_type" property="tsComputerType" jdbcType="VARCHAR" />
    <result column="ts_computer_size" property="tsComputerSize" jdbcType="VARCHAR" />
    <result column="ts_computer_color" property="tsComputerColor" jdbcType="VARCHAR" />
    <result column="ts_computer_kernel" property="tsComputerKernel" jdbcType="VARCHAR" />
    <result column="ts_computer_audio" property="tsComputerAudio" jdbcType="VARCHAR" />
    <result column="ts_computer_videocard" property="tsComputerVideocard" jdbcType="VARCHAR" />
    <result column="ts_computer_memory" property="tsComputerMemory" jdbcType="VARCHAR" />
    <result column="ts_computer_pixel" property="tsComputerPixel" jdbcType="VARCHAR" />
    <result column="ts_computer_guarantee" property="tsComputerGuarantee" jdbcType="VARCHAR" />
    <result column="ts_computer_system" property="tsComputerSystem" jdbcType="VARCHAR" />
    <result column="ts_computer_picture" property="tsComputerPicture" jdbcType="VARCHAR" />
    <result column="ts_computer_number" property="tsComputerNumber" jdbcType="INTEGER" />
    <result column="ts_computer_money" property="tsComputerMoney" jdbcType="DOUBLE" />
    <result column="ts_computer_introduce" property="tsComputerIntroduce" jdbcType="VARCHAR" />
    <result column="ts_computer_state" property="tsComputerState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ts_computer_id, ts_computer_brand, ts_computer_model, ts_computer_type, ts_computer_size, 
    ts_computer_color, ts_computer_kernel, ts_computer_audio, ts_computer_videocard, 
    ts_computer_memory, ts_computer_pixel, ts_computer_guarantee, ts_computer_system, 
    ts_computer_picture, ts_computer_number, ts_computer_money, ts_computer_introduce, 
    ts_computer_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.TeamshoppingComputerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teamshopping_computer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teamshopping_computer
    where ts_computer_id = #{tsComputerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teamshopping_computer
    where ts_computer_id = #{tsComputerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.TeamshoppingComputerExample" >
    delete from teamshopping_computer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.TeamshoppingComputer" >
    insert into teamshopping_computer (ts_computer_id, ts_computer_brand, ts_computer_model, 
      ts_computer_type, ts_computer_size, ts_computer_color, 
      ts_computer_kernel, ts_computer_audio, ts_computer_videocard, 
      ts_computer_memory, ts_computer_pixel, ts_computer_guarantee, 
      ts_computer_system, ts_computer_picture, ts_computer_number, 
      ts_computer_money, ts_computer_introduce, ts_computer_state
      )
    values (#{tsComputerId,jdbcType=INTEGER}, #{tsComputerBrand,jdbcType=VARCHAR}, #{tsComputerModel,jdbcType=VARCHAR}, 
      #{tsComputerType,jdbcType=VARCHAR}, #{tsComputerSize,jdbcType=VARCHAR}, #{tsComputerColor,jdbcType=VARCHAR}, 
      #{tsComputerKernel,jdbcType=VARCHAR}, #{tsComputerAudio,jdbcType=VARCHAR}, #{tsComputerVideocard,jdbcType=VARCHAR}, 
      #{tsComputerMemory,jdbcType=VARCHAR}, #{tsComputerPixel,jdbcType=VARCHAR}, #{tsComputerGuarantee,jdbcType=VARCHAR}, 
      #{tsComputerSystem,jdbcType=VARCHAR}, #{tsComputerPicture,jdbcType=VARCHAR}, #{tsComputerNumber,jdbcType=INTEGER}, 
      #{tsComputerMoney,jdbcType=DOUBLE}, #{tsComputerIntroduce,jdbcType=VARCHAR}, #{tsComputerState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.TeamshoppingComputer" >
    insert into teamshopping_computer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tsComputerId != null" >
        ts_computer_id,
      </if>
      <if test="tsComputerBrand != null" >
        ts_computer_brand,
      </if>
      <if test="tsComputerModel != null" >
        ts_computer_model,
      </if>
      <if test="tsComputerType != null" >
        ts_computer_type,
      </if>
      <if test="tsComputerSize != null" >
        ts_computer_size,
      </if>
      <if test="tsComputerColor != null" >
        ts_computer_color,
      </if>
      <if test="tsComputerKernel != null" >
        ts_computer_kernel,
      </if>
      <if test="tsComputerAudio != null" >
        ts_computer_audio,
      </if>
      <if test="tsComputerVideocard != null" >
        ts_computer_videocard,
      </if>
      <if test="tsComputerMemory != null" >
        ts_computer_memory,
      </if>
      <if test="tsComputerPixel != null" >
        ts_computer_pixel,
      </if>
      <if test="tsComputerGuarantee != null" >
        ts_computer_guarantee,
      </if>
      <if test="tsComputerSystem != null" >
        ts_computer_system,
      </if>
      <if test="tsComputerPicture != null" >
        ts_computer_picture,
      </if>
      <if test="tsComputerNumber != null" >
        ts_computer_number,
      </if>
      <if test="tsComputerMoney != null" >
        ts_computer_money,
      </if>
      <if test="tsComputerIntroduce != null" >
        ts_computer_introduce,
      </if>
      <if test="tsComputerState != null" >
        ts_computer_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tsComputerId != null" >
        #{tsComputerId,jdbcType=INTEGER},
      </if>
      <if test="tsComputerBrand != null" >
        #{tsComputerBrand,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerModel != null" >
        #{tsComputerModel,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerType != null" >
        #{tsComputerType,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerSize != null" >
        #{tsComputerSize,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerColor != null" >
        #{tsComputerColor,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerKernel != null" >
        #{tsComputerKernel,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerAudio != null" >
        #{tsComputerAudio,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerVideocard != null" >
        #{tsComputerVideocard,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerMemory != null" >
        #{tsComputerMemory,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerPixel != null" >
        #{tsComputerPixel,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerGuarantee != null" >
        #{tsComputerGuarantee,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerSystem != null" >
        #{tsComputerSystem,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerPicture != null" >
        #{tsComputerPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerNumber != null" >
        #{tsComputerNumber,jdbcType=INTEGER},
      </if>
      <if test="tsComputerMoney != null" >
        #{tsComputerMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsComputerIntroduce != null" >
        #{tsComputerIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerState != null" >
        #{tsComputerState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.TeamshoppingComputerExample" resultType="java.lang.Integer" >
    select count(*) from teamshopping_computer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teamshopping_computer
    <set >
      <if test="record.tsComputerId != null" >
        ts_computer_id = #{record.tsComputerId,jdbcType=INTEGER},
      </if>
      <if test="record.tsComputerBrand != null" >
        ts_computer_brand = #{record.tsComputerBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerModel != null" >
        ts_computer_model = #{record.tsComputerModel,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerType != null" >
        ts_computer_type = #{record.tsComputerType,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerSize != null" >
        ts_computer_size = #{record.tsComputerSize,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerColor != null" >
        ts_computer_color = #{record.tsComputerColor,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerKernel != null" >
        ts_computer_kernel = #{record.tsComputerKernel,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerAudio != null" >
        ts_computer_audio = #{record.tsComputerAudio,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerVideocard != null" >
        ts_computer_videocard = #{record.tsComputerVideocard,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerMemory != null" >
        ts_computer_memory = #{record.tsComputerMemory,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerPixel != null" >
        ts_computer_pixel = #{record.tsComputerPixel,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerGuarantee != null" >
        ts_computer_guarantee = #{record.tsComputerGuarantee,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerSystem != null" >
        ts_computer_system = #{record.tsComputerSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerPicture != null" >
        ts_computer_picture = #{record.tsComputerPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerNumber != null" >
        ts_computer_number = #{record.tsComputerNumber,jdbcType=INTEGER},
      </if>
      <if test="record.tsComputerMoney != null" >
        ts_computer_money = #{record.tsComputerMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.tsComputerIntroduce != null" >
        ts_computer_introduce = #{record.tsComputerIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.tsComputerState != null" >
        ts_computer_state = #{record.tsComputerState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teamshopping_computer
    set ts_computer_id = #{record.tsComputerId,jdbcType=INTEGER},
      ts_computer_brand = #{record.tsComputerBrand,jdbcType=VARCHAR},
      ts_computer_model = #{record.tsComputerModel,jdbcType=VARCHAR},
      ts_computer_type = #{record.tsComputerType,jdbcType=VARCHAR},
      ts_computer_size = #{record.tsComputerSize,jdbcType=VARCHAR},
      ts_computer_color = #{record.tsComputerColor,jdbcType=VARCHAR},
      ts_computer_kernel = #{record.tsComputerKernel,jdbcType=VARCHAR},
      ts_computer_audio = #{record.tsComputerAudio,jdbcType=VARCHAR},
      ts_computer_videocard = #{record.tsComputerVideocard,jdbcType=VARCHAR},
      ts_computer_memory = #{record.tsComputerMemory,jdbcType=VARCHAR},
      ts_computer_pixel = #{record.tsComputerPixel,jdbcType=VARCHAR},
      ts_computer_guarantee = #{record.tsComputerGuarantee,jdbcType=VARCHAR},
      ts_computer_system = #{record.tsComputerSystem,jdbcType=VARCHAR},
      ts_computer_picture = #{record.tsComputerPicture,jdbcType=VARCHAR},
      ts_computer_number = #{record.tsComputerNumber,jdbcType=INTEGER},
      ts_computer_money = #{record.tsComputerMoney,jdbcType=DOUBLE},
      ts_computer_introduce = #{record.tsComputerIntroduce,jdbcType=VARCHAR},
      ts_computer_state = #{record.tsComputerState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.TeamshoppingComputer" >
    update teamshopping_computer
    <set >
      <if test="tsComputerBrand != null" >
        ts_computer_brand = #{tsComputerBrand,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerModel != null" >
        ts_computer_model = #{tsComputerModel,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerType != null" >
        ts_computer_type = #{tsComputerType,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerSize != null" >
        ts_computer_size = #{tsComputerSize,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerColor != null" >
        ts_computer_color = #{tsComputerColor,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerKernel != null" >
        ts_computer_kernel = #{tsComputerKernel,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerAudio != null" >
        ts_computer_audio = #{tsComputerAudio,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerVideocard != null" >
        ts_computer_videocard = #{tsComputerVideocard,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerMemory != null" >
        ts_computer_memory = #{tsComputerMemory,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerPixel != null" >
        ts_computer_pixel = #{tsComputerPixel,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerGuarantee != null" >
        ts_computer_guarantee = #{tsComputerGuarantee,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerSystem != null" >
        ts_computer_system = #{tsComputerSystem,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerPicture != null" >
        ts_computer_picture = #{tsComputerPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerNumber != null" >
        ts_computer_number = #{tsComputerNumber,jdbcType=INTEGER},
      </if>
      <if test="tsComputerMoney != null" >
        ts_computer_money = #{tsComputerMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsComputerIntroduce != null" >
        ts_computer_introduce = #{tsComputerIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsComputerState != null" >
        ts_computer_state = #{tsComputerState,jdbcType=VARCHAR},
      </if>
    </set>
    where ts_computer_id = #{tsComputerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.TeamshoppingComputer" >
    update teamshopping_computer
    set ts_computer_brand = #{tsComputerBrand,jdbcType=VARCHAR},
      ts_computer_model = #{tsComputerModel,jdbcType=VARCHAR},
      ts_computer_type = #{tsComputerType,jdbcType=VARCHAR},
      ts_computer_size = #{tsComputerSize,jdbcType=VARCHAR},
      ts_computer_color = #{tsComputerColor,jdbcType=VARCHAR},
      ts_computer_kernel = #{tsComputerKernel,jdbcType=VARCHAR},
      ts_computer_audio = #{tsComputerAudio,jdbcType=VARCHAR},
      ts_computer_videocard = #{tsComputerVideocard,jdbcType=VARCHAR},
      ts_computer_memory = #{tsComputerMemory,jdbcType=VARCHAR},
      ts_computer_pixel = #{tsComputerPixel,jdbcType=VARCHAR},
      ts_computer_guarantee = #{tsComputerGuarantee,jdbcType=VARCHAR},
      ts_computer_system = #{tsComputerSystem,jdbcType=VARCHAR},
      ts_computer_picture = #{tsComputerPicture,jdbcType=VARCHAR},
      ts_computer_number = #{tsComputerNumber,jdbcType=INTEGER},
      ts_computer_money = #{tsComputerMoney,jdbcType=DOUBLE},
      ts_computer_introduce = #{tsComputerIntroduce,jdbcType=VARCHAR},
      ts_computer_state = #{tsComputerState,jdbcType=VARCHAR}
    where ts_computer_id = #{tsComputerId,jdbcType=INTEGER}
  </update>
</mapper>