<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingGameMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.TeamshoppingGame" >
    <id column="ts_game_id" property="tsGameId" jdbcType="INTEGER" />
    <result column="ts_game_name" property="tsGameName" jdbcType="VARCHAR" />
    <result column="ts_game_type" property="tsGameType" jdbcType="VARCHAR" />
    <result column="ts_game_edition" property="tsGameEdition" jdbcType="VARCHAR" />
    <result column="ts_game_company" property="tsGameCompany" jdbcType="VARCHAR" />
    <result column="ts_game_code" property="tsGameCode" jdbcType="VARCHAR" />
    <result column="ts_game_currency" property="tsGameCurrency" jdbcType="INTEGER" />
    <result column="ts_game_picture" property="tsGamePicture" jdbcType="VARCHAR" />
    <result column="ts_game_number" property="tsGameNumber" jdbcType="INTEGER" />
    <result column="ts_game_money" property="tsGameMoney" jdbcType="DOUBLE" />
    <result column="ts_game_introduce" property="tsGameIntroduce" jdbcType="VARCHAR" />
    <result column="ts_game_state" property="tsGameState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ts_game_id, ts_game_name, ts_game_type, ts_game_edition, ts_game_company, ts_game_code, 
    ts_game_currency, ts_game_picture, ts_game_number, ts_game_money, ts_game_introduce, 
    ts_game_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.TeamshoppingGameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teamshopping_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teamshopping_game
    where ts_game_id = #{tsGameId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teamshopping_game
    where ts_game_id = #{tsGameId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.TeamshoppingGameExample" >
    delete from teamshopping_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.TeamshoppingGame" >
    insert into teamshopping_game (ts_game_id, ts_game_name, ts_game_type, 
      ts_game_edition, ts_game_company, ts_game_code, 
      ts_game_currency, ts_game_picture, ts_game_number, 
      ts_game_money, ts_game_introduce, ts_game_state
      )
    values (#{tsGameId,jdbcType=INTEGER}, #{tsGameName,jdbcType=VARCHAR}, #{tsGameType,jdbcType=VARCHAR}, 
      #{tsGameEdition,jdbcType=VARCHAR}, #{tsGameCompany,jdbcType=VARCHAR}, #{tsGameCode,jdbcType=VARCHAR}, 
      #{tsGameCurrency,jdbcType=INTEGER}, #{tsGamePicture,jdbcType=VARCHAR}, #{tsGameNumber,jdbcType=INTEGER}, 
      #{tsGameMoney,jdbcType=DOUBLE}, #{tsGameIntroduce,jdbcType=VARCHAR}, #{tsGameState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.TeamshoppingGame" >
    insert into teamshopping_game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tsGameId != null" >
        ts_game_id,
      </if>
      <if test="tsGameName != null" >
        ts_game_name,
      </if>
      <if test="tsGameType != null" >
        ts_game_type,
      </if>
      <if test="tsGameEdition != null" >
        ts_game_edition,
      </if>
      <if test="tsGameCompany != null" >
        ts_game_company,
      </if>
      <if test="tsGameCode != null" >
        ts_game_code,
      </if>
      <if test="tsGameCurrency != null" >
        ts_game_currency,
      </if>
      <if test="tsGamePicture != null" >
        ts_game_picture,
      </if>
      <if test="tsGameNumber != null" >
        ts_game_number,
      </if>
      <if test="tsGameMoney != null" >
        ts_game_money,
      </if>
      <if test="tsGameIntroduce != null" >
        ts_game_introduce,
      </if>
      <if test="tsGameState != null" >
        ts_game_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tsGameId != null" >
        #{tsGameId,jdbcType=INTEGER},
      </if>
      <if test="tsGameName != null" >
        #{tsGameName,jdbcType=VARCHAR},
      </if>
      <if test="tsGameType != null" >
        #{tsGameType,jdbcType=VARCHAR},
      </if>
      <if test="tsGameEdition != null" >
        #{tsGameEdition,jdbcType=VARCHAR},
      </if>
      <if test="tsGameCompany != null" >
        #{tsGameCompany,jdbcType=VARCHAR},
      </if>
      <if test="tsGameCode != null" >
        #{tsGameCode,jdbcType=VARCHAR},
      </if>
      <if test="tsGameCurrency != null" >
        #{tsGameCurrency,jdbcType=INTEGER},
      </if>
      <if test="tsGamePicture != null" >
        #{tsGamePicture,jdbcType=VARCHAR},
      </if>
      <if test="tsGameNumber != null" >
        #{tsGameNumber,jdbcType=INTEGER},
      </if>
      <if test="tsGameMoney != null" >
        #{tsGameMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsGameIntroduce != null" >
        #{tsGameIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsGameState != null" >
        #{tsGameState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.TeamshoppingGameExample" resultType="java.lang.Integer" >
    select count(*) from teamshopping_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teamshopping_game
    <set >
      <if test="record.tsGameId != null" >
        ts_game_id = #{record.tsGameId,jdbcType=INTEGER},
      </if>
      <if test="record.tsGameName != null" >
        ts_game_name = #{record.tsGameName,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGameType != null" >
        ts_game_type = #{record.tsGameType,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGameEdition != null" >
        ts_game_edition = #{record.tsGameEdition,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGameCompany != null" >
        ts_game_company = #{record.tsGameCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGameCode != null" >
        ts_game_code = #{record.tsGameCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGameCurrency != null" >
        ts_game_currency = #{record.tsGameCurrency,jdbcType=INTEGER},
      </if>
      <if test="record.tsGamePicture != null" >
        ts_game_picture = #{record.tsGamePicture,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGameNumber != null" >
        ts_game_number = #{record.tsGameNumber,jdbcType=INTEGER},
      </if>
      <if test="record.tsGameMoney != null" >
        ts_game_money = #{record.tsGameMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.tsGameIntroduce != null" >
        ts_game_introduce = #{record.tsGameIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.tsGameState != null" >
        ts_game_state = #{record.tsGameState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teamshopping_game
    set ts_game_id = #{record.tsGameId,jdbcType=INTEGER},
      ts_game_name = #{record.tsGameName,jdbcType=VARCHAR},
      ts_game_type = #{record.tsGameType,jdbcType=VARCHAR},
      ts_game_edition = #{record.tsGameEdition,jdbcType=VARCHAR},
      ts_game_company = #{record.tsGameCompany,jdbcType=VARCHAR},
      ts_game_code = #{record.tsGameCode,jdbcType=VARCHAR},
      ts_game_currency = #{record.tsGameCurrency,jdbcType=INTEGER},
      ts_game_picture = #{record.tsGamePicture,jdbcType=VARCHAR},
      ts_game_number = #{record.tsGameNumber,jdbcType=INTEGER},
      ts_game_money = #{record.tsGameMoney,jdbcType=DOUBLE},
      ts_game_introduce = #{record.tsGameIntroduce,jdbcType=VARCHAR},
      ts_game_state = #{record.tsGameState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.TeamshoppingGame" >
    update teamshopping_game
    <set >
      <if test="tsGameName != null" >
        ts_game_name = #{tsGameName,jdbcType=VARCHAR},
      </if>
      <if test="tsGameType != null" >
        ts_game_type = #{tsGameType,jdbcType=VARCHAR},
      </if>
      <if test="tsGameEdition != null" >
        ts_game_edition = #{tsGameEdition,jdbcType=VARCHAR},
      </if>
      <if test="tsGameCompany != null" >
        ts_game_company = #{tsGameCompany,jdbcType=VARCHAR},
      </if>
      <if test="tsGameCode != null" >
        ts_game_code = #{tsGameCode,jdbcType=VARCHAR},
      </if>
      <if test="tsGameCurrency != null" >
        ts_game_currency = #{tsGameCurrency,jdbcType=INTEGER},
      </if>
      <if test="tsGamePicture != null" >
        ts_game_picture = #{tsGamePicture,jdbcType=VARCHAR},
      </if>
      <if test="tsGameNumber != null" >
        ts_game_number = #{tsGameNumber,jdbcType=INTEGER},
      </if>
      <if test="tsGameMoney != null" >
        ts_game_money = #{tsGameMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsGameIntroduce != null" >
        ts_game_introduce = #{tsGameIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsGameState != null" >
        ts_game_state = #{tsGameState,jdbcType=VARCHAR},
      </if>
    </set>
    where ts_game_id = #{tsGameId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.TeamshoppingGame" >
    update teamshopping_game
    set ts_game_name = #{tsGameName,jdbcType=VARCHAR},
      ts_game_type = #{tsGameType,jdbcType=VARCHAR},
      ts_game_edition = #{tsGameEdition,jdbcType=VARCHAR},
      ts_game_company = #{tsGameCompany,jdbcType=VARCHAR},
      ts_game_code = #{tsGameCode,jdbcType=VARCHAR},
      ts_game_currency = #{tsGameCurrency,jdbcType=INTEGER},
      ts_game_picture = #{tsGamePicture,jdbcType=VARCHAR},
      ts_game_number = #{tsGameNumber,jdbcType=INTEGER},
      ts_game_money = #{tsGameMoney,jdbcType=DOUBLE},
      ts_game_introduce = #{tsGameIntroduce,jdbcType=VARCHAR},
      ts_game_state = #{tsGameState,jdbcType=VARCHAR}
    where ts_game_id = #{tsGameId,jdbcType=INTEGER}
  </update>
</mapper>