<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.UserMemberMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.UserMember" >
    <id column="u_member_id" property="uMemberId" jdbcType="INTEGER" />
    <result column="u_member_name" property="uMemberName" jdbcType="VARCHAR" />
    <result column="u_member_pwd" property="uMemberPwd" jdbcType="CHAR" />
    <result column="u_member_reale" property="uMemberReale" jdbcType="VARCHAR" />
    <result column="u_member_sex" property="uMemberSex" jdbcType="BIT" />
    <result column="u_member_phone" property="uMemberPhone" jdbcType="INTEGER" />
    <result column="u_member_email" property="uMemberEmail" jdbcType="CHAR" />
    <result column="u_member_integral" property="uMemberIntegral" jdbcType="INTEGER" />
    <result column="u_member_pid" property="uMemberPid" jdbcType="INTEGER" />
    <result column="u_member_cid" property="uMemberCid" jdbcType="INTEGER" />
    <result column="u_member_aid" property="uMemberAid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.neusoft.bean.UserMember" extends="BaseResultMap" >
    <result column="u_member_image" property="uMemberImage" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    u_member_id, u_member_name, u_member_pwd, u_member_reale, u_member_sex, u_member_phone, 
    u_member_email, u_member_integral, u_member_pid, u_member_cid, u_member_aid
  </sql>
  <sql id="Blob_Column_List" >
    u_member_image
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.neusoft.bean.UserMemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.UserMemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_member
    where u_member_id = #{uMemberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_member
    where u_member_id = #{uMemberId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.UserMemberExample" >
    delete from user_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.UserMember" >
    insert into user_member (u_member_id, u_member_name, u_member_pwd, 
      u_member_reale, u_member_sex, u_member_phone, 
      u_member_email, u_member_integral, u_member_pid, 
      u_member_cid, u_member_aid, u_member_image
      )
    values (#{uMemberId,jdbcType=INTEGER}, #{uMemberName,jdbcType=VARCHAR}, #{uMemberPwd,jdbcType=CHAR}, 
      #{uMemberReale,jdbcType=VARCHAR}, #{uMemberSex,jdbcType=BIT}, #{uMemberPhone,jdbcType=INTEGER}, 
      #{uMemberEmail,jdbcType=CHAR}, #{uMemberIntegral,jdbcType=INTEGER}, #{uMemberPid,jdbcType=INTEGER}, 
      #{uMemberCid,jdbcType=INTEGER}, #{uMemberAid,jdbcType=INTEGER}, #{uMemberImage,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.UserMember" >
    insert into user_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uMemberId != null" >
        u_member_id,
      </if>
      <if test="uMemberName != null" >
        u_member_name,
      </if>
      <if test="uMemberPwd != null" >
        u_member_pwd,
      </if>
      <if test="uMemberReale != null" >
        u_member_reale,
      </if>
      <if test="uMemberSex != null" >
        u_member_sex,
      </if>
      <if test="uMemberPhone != null" >
        u_member_phone,
      </if>
      <if test="uMemberEmail != null" >
        u_member_email,
      </if>
      <if test="uMemberIntegral != null" >
        u_member_integral,
      </if>
      <if test="uMemberPid != null" >
        u_member_pid,
      </if>
      <if test="uMemberCid != null" >
        u_member_cid,
      </if>
      <if test="uMemberAid != null" >
        u_member_aid,
      </if>
      <if test="uMemberImage != null" >
        u_member_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uMemberId != null" >
        #{uMemberId,jdbcType=INTEGER},
      </if>
      <if test="uMemberName != null" >
        #{uMemberName,jdbcType=VARCHAR},
      </if>
      <if test="uMemberPwd != null" >
        #{uMemberPwd,jdbcType=CHAR},
      </if>
      <if test="uMemberReale != null" >
        #{uMemberReale,jdbcType=VARCHAR},
      </if>
      <if test="uMemberSex != null" >
        #{uMemberSex,jdbcType=BIT},
      </if>
      <if test="uMemberPhone != null" >
        #{uMemberPhone,jdbcType=INTEGER},
      </if>
      <if test="uMemberEmail != null" >
        #{uMemberEmail,jdbcType=CHAR},
      </if>
      <if test="uMemberIntegral != null" >
        #{uMemberIntegral,jdbcType=INTEGER},
      </if>
      <if test="uMemberPid != null" >
        #{uMemberPid,jdbcType=INTEGER},
      </if>
      <if test="uMemberCid != null" >
        #{uMemberCid,jdbcType=INTEGER},
      </if>
      <if test="uMemberAid != null" >
        #{uMemberAid,jdbcType=INTEGER},
      </if>
      <if test="uMemberImage != null" >
        #{uMemberImage,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.UserMemberExample" resultType="java.lang.Integer" >
    select count(*) from user_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_member
    <set >
      <if test="record.uMemberId != null" >
        u_member_id = #{record.uMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.uMemberName != null" >
        u_member_name = #{record.uMemberName,jdbcType=VARCHAR},
      </if>
      <if test="record.uMemberPwd != null" >
        u_member_pwd = #{record.uMemberPwd,jdbcType=CHAR},
      </if>
      <if test="record.uMemberReale != null" >
        u_member_reale = #{record.uMemberReale,jdbcType=VARCHAR},
      </if>
      <if test="record.uMemberSex != null" >
        u_member_sex = #{record.uMemberSex,jdbcType=BIT},
      </if>
      <if test="record.uMemberPhone != null" >
        u_member_phone = #{record.uMemberPhone,jdbcType=INTEGER},
      </if>
      <if test="record.uMemberEmail != null" >
        u_member_email = #{record.uMemberEmail,jdbcType=CHAR},
      </if>
      <if test="record.uMemberIntegral != null" >
        u_member_integral = #{record.uMemberIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.uMemberPid != null" >
        u_member_pid = #{record.uMemberPid,jdbcType=INTEGER},
      </if>
      <if test="record.uMemberCid != null" >
        u_member_cid = #{record.uMemberCid,jdbcType=INTEGER},
      </if>
      <if test="record.uMemberAid != null" >
        u_member_aid = #{record.uMemberAid,jdbcType=INTEGER},
      </if>
      <if test="record.uMemberImage != null" >
        u_member_image = #{record.uMemberImage,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update user_member
    set u_member_id = #{record.uMemberId,jdbcType=INTEGER},
      u_member_name = #{record.uMemberName,jdbcType=VARCHAR},
      u_member_pwd = #{record.uMemberPwd,jdbcType=CHAR},
      u_member_reale = #{record.uMemberReale,jdbcType=VARCHAR},
      u_member_sex = #{record.uMemberSex,jdbcType=BIT},
      u_member_phone = #{record.uMemberPhone,jdbcType=INTEGER},
      u_member_email = #{record.uMemberEmail,jdbcType=CHAR},
      u_member_integral = #{record.uMemberIntegral,jdbcType=INTEGER},
      u_member_pid = #{record.uMemberPid,jdbcType=INTEGER},
      u_member_cid = #{record.uMemberCid,jdbcType=INTEGER},
      u_member_aid = #{record.uMemberAid,jdbcType=INTEGER},
      u_member_image = #{record.uMemberImage,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_member
    set u_member_id = #{record.uMemberId,jdbcType=INTEGER},
      u_member_name = #{record.uMemberName,jdbcType=VARCHAR},
      u_member_pwd = #{record.uMemberPwd,jdbcType=CHAR},
      u_member_reale = #{record.uMemberReale,jdbcType=VARCHAR},
      u_member_sex = #{record.uMemberSex,jdbcType=BIT},
      u_member_phone = #{record.uMemberPhone,jdbcType=INTEGER},
      u_member_email = #{record.uMemberEmail,jdbcType=CHAR},
      u_member_integral = #{record.uMemberIntegral,jdbcType=INTEGER},
      u_member_pid = #{record.uMemberPid,jdbcType=INTEGER},
      u_member_cid = #{record.uMemberCid,jdbcType=INTEGER},
      u_member_aid = #{record.uMemberAid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.UserMember" >
    update user_member
    <set >
      <if test="uMemberName != null" >
        u_member_name = #{uMemberName,jdbcType=VARCHAR},
      </if>
      <if test="uMemberPwd != null" >
        u_member_pwd = #{uMemberPwd,jdbcType=CHAR},
      </if>
      <if test="uMemberReale != null" >
        u_member_reale = #{uMemberReale,jdbcType=VARCHAR},
      </if>
      <if test="uMemberSex != null" >
        u_member_sex = #{uMemberSex,jdbcType=BIT},
      </if>
      <if test="uMemberPhone != null" >
        u_member_phone = #{uMemberPhone,jdbcType=INTEGER},
      </if>
      <if test="uMemberEmail != null" >
        u_member_email = #{uMemberEmail,jdbcType=CHAR},
      </if>
      <if test="uMemberIntegral != null" >
        u_member_integral = #{uMemberIntegral,jdbcType=INTEGER},
      </if>
      <if test="uMemberPid != null" >
        u_member_pid = #{uMemberPid,jdbcType=INTEGER},
      </if>
      <if test="uMemberCid != null" >
        u_member_cid = #{uMemberCid,jdbcType=INTEGER},
      </if>
      <if test="uMemberAid != null" >
        u_member_aid = #{uMemberAid,jdbcType=INTEGER},
      </if>
      <if test="uMemberImage != null" >
        u_member_image = #{uMemberImage,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where u_member_id = #{uMemberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.neusoft.bean.UserMember" >
    update user_member
    set u_member_name = #{uMemberName,jdbcType=VARCHAR},
      u_member_pwd = #{uMemberPwd,jdbcType=CHAR},
      u_member_reale = #{uMemberReale,jdbcType=VARCHAR},
      u_member_sex = #{uMemberSex,jdbcType=BIT},
      u_member_phone = #{uMemberPhone,jdbcType=INTEGER},
      u_member_email = #{uMemberEmail,jdbcType=CHAR},
      u_member_integral = #{uMemberIntegral,jdbcType=INTEGER},
      u_member_pid = #{uMemberPid,jdbcType=INTEGER},
      u_member_cid = #{uMemberCid,jdbcType=INTEGER},
      u_member_aid = #{uMemberAid,jdbcType=INTEGER},
      u_member_image = #{uMemberImage,jdbcType=LONGVARBINARY}
    where u_member_id = #{uMemberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.UserMember" >
    update user_member
    set u_member_name = #{uMemberName,jdbcType=VARCHAR},
      u_member_pwd = #{uMemberPwd,jdbcType=CHAR},
      u_member_reale = #{uMemberReale,jdbcType=VARCHAR},
      u_member_sex = #{uMemberSex,jdbcType=BIT},
      u_member_phone = #{uMemberPhone,jdbcType=INTEGER},
      u_member_email = #{uMemberEmail,jdbcType=CHAR},
      u_member_integral = #{uMemberIntegral,jdbcType=INTEGER},
      u_member_pid = #{uMemberPid,jdbcType=INTEGER},
      u_member_cid = #{uMemberCid,jdbcType=INTEGER},
      u_member_aid = #{uMemberAid,jdbcType=INTEGER}
    where u_member_id = #{uMemberId,jdbcType=INTEGER}
  </update>
</mapper>