<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.UserProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.UserProvince" >
    <id column="u_province_id" property="uProvinceId" jdbcType="INTEGER" />
    <result column="u_province_name" property="uProvinceName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    u_province_id, u_province_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.UserProvinceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_province
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_province
    where u_province_id = #{uProvinceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_province
    where u_province_id = #{uProvinceId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.UserProvinceExample" >
    delete from user_province
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.UserProvince" >
    insert into user_province (u_province_id, u_province_name)
    values (#{uProvinceId,jdbcType=INTEGER}, #{uProvinceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.UserProvince" >
    insert into user_province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uProvinceId != null" >
        u_province_id,
      </if>
      <if test="uProvinceName != null" >
        u_province_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uProvinceId != null" >
        #{uProvinceId,jdbcType=INTEGER},
      </if>
      <if test="uProvinceName != null" >
        #{uProvinceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.UserProvinceExample" resultType="java.lang.Integer" >
    select count(*) from user_province
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_province
    <set >
      <if test="record.uProvinceId != null" >
        u_province_id = #{record.uProvinceId,jdbcType=INTEGER},
      </if>
      <if test="record.uProvinceName != null" >
        u_province_name = #{record.uProvinceName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_province
    set u_province_id = #{record.uProvinceId,jdbcType=INTEGER},
      u_province_name = #{record.uProvinceName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.UserProvince" >
    update user_province
    <set >
      <if test="uProvinceName != null" >
        u_province_name = #{uProvinceName,jdbcType=VARCHAR},
      </if>
    </set>
    where u_province_id = #{uProvinceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.UserProvince" >
    update user_province
    set u_province_name = #{uProvinceName,jdbcType=VARCHAR}
    where u_province_id = #{uProvinceId,jdbcType=INTEGER}
  </update>
</mapper>