<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.UserAdministratorsMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.UserAdministrators" >
    <id column="u_administrators" property="uAdministrators" jdbcType="INTEGER" />
    <result column="u_administrators_name" property="uAdministratorsName" jdbcType="VARCHAR" />
    <result column="u_administrators_pwd" property="uAdministratorsPwd" jdbcType="VARCHAR" />
    <result column="u_administrators_realname" property="uAdministratorsRealname" jdbcType="VARCHAR" />
    <result column="u_administrators_phone" property="uAdministratorsPhone" jdbcType="INTEGER" />
    <result column="u_administrators_work" property="uAdministratorsWork" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    u_administrators, u_administrators_name, u_administrators_pwd, u_administrators_realname, 
    u_administrators_phone, u_administrators_work
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.UserAdministratorsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_administrators
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_administrators
    where u_administrators = #{uAdministrators,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_administrators
    where u_administrators = #{uAdministrators,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.UserAdministratorsExample" >
    delete from user_administrators
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.UserAdministrators" >
    insert into user_administrators (u_administrators, u_administrators_name, 
      u_administrators_pwd, u_administrators_realname, 
      u_administrators_phone, u_administrators_work)
    values (#{uAdministrators,jdbcType=INTEGER}, #{uAdministratorsName,jdbcType=VARCHAR}, 
      #{uAdministratorsPwd,jdbcType=VARCHAR}, #{uAdministratorsRealname,jdbcType=VARCHAR}, 
      #{uAdministratorsPhone,jdbcType=INTEGER}, #{uAdministratorsWork,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.UserAdministrators" >
    insert into user_administrators
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uAdministrators != null" >
        u_administrators,
      </if>
      <if test="uAdministratorsName != null" >
        u_administrators_name,
      </if>
      <if test="uAdministratorsPwd != null" >
        u_administrators_pwd,
      </if>
      <if test="uAdministratorsRealname != null" >
        u_administrators_realname,
      </if>
      <if test="uAdministratorsPhone != null" >
        u_administrators_phone,
      </if>
      <if test="uAdministratorsWork != null" >
        u_administrators_work,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uAdministrators != null" >
        #{uAdministrators,jdbcType=INTEGER},
      </if>
      <if test="uAdministratorsName != null" >
        #{uAdministratorsName,jdbcType=VARCHAR},
      </if>
      <if test="uAdministratorsPwd != null" >
        #{uAdministratorsPwd,jdbcType=VARCHAR},
      </if>
      <if test="uAdministratorsRealname != null" >
        #{uAdministratorsRealname,jdbcType=VARCHAR},
      </if>
      <if test="uAdministratorsPhone != null" >
        #{uAdministratorsPhone,jdbcType=INTEGER},
      </if>
      <if test="uAdministratorsWork != null" >
        #{uAdministratorsWork,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.UserAdministratorsExample" resultType="java.lang.Integer" >
    select count(*) from user_administrators
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_administrators
    <set >
      <if test="record.uAdministrators != null" >
        u_administrators = #{record.uAdministrators,jdbcType=INTEGER},
      </if>
      <if test="record.uAdministratorsName != null" >
        u_administrators_name = #{record.uAdministratorsName,jdbcType=VARCHAR},
      </if>
      <if test="record.uAdministratorsPwd != null" >
        u_administrators_pwd = #{record.uAdministratorsPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.uAdministratorsRealname != null" >
        u_administrators_realname = #{record.uAdministratorsRealname,jdbcType=VARCHAR},
      </if>
      <if test="record.uAdministratorsPhone != null" >
        u_administrators_phone = #{record.uAdministratorsPhone,jdbcType=INTEGER},
      </if>
      <if test="record.uAdministratorsWork != null" >
        u_administrators_work = #{record.uAdministratorsWork,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_administrators
    set u_administrators = #{record.uAdministrators,jdbcType=INTEGER},
      u_administrators_name = #{record.uAdministratorsName,jdbcType=VARCHAR},
      u_administrators_pwd = #{record.uAdministratorsPwd,jdbcType=VARCHAR},
      u_administrators_realname = #{record.uAdministratorsRealname,jdbcType=VARCHAR},
      u_administrators_phone = #{record.uAdministratorsPhone,jdbcType=INTEGER},
      u_administrators_work = #{record.uAdministratorsWork,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.UserAdministrators" >
    update user_administrators
    <set >
      <if test="uAdministratorsName != null" >
        u_administrators_name = #{uAdministratorsName,jdbcType=VARCHAR},
      </if>
      <if test="uAdministratorsPwd != null" >
        u_administrators_pwd = #{uAdministratorsPwd,jdbcType=VARCHAR},
      </if>
      <if test="uAdministratorsRealname != null" >
        u_administrators_realname = #{uAdministratorsRealname,jdbcType=VARCHAR},
      </if>
      <if test="uAdministratorsPhone != null" >
        u_administrators_phone = #{uAdministratorsPhone,jdbcType=INTEGER},
      </if>
      <if test="uAdministratorsWork != null" >
        u_administrators_work = #{uAdministratorsWork,jdbcType=CHAR},
      </if>
    </set>
    where u_administrators = #{uAdministrators,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.UserAdministrators" >
    update user_administrators
    set u_administrators_name = #{uAdministratorsName,jdbcType=VARCHAR},
      u_administrators_pwd = #{uAdministratorsPwd,jdbcType=VARCHAR},
      u_administrators_realname = #{uAdministratorsRealname,jdbcType=VARCHAR},
      u_administrators_phone = #{uAdministratorsPhone,jdbcType=INTEGER},
      u_administrators_work = #{uAdministratorsWork,jdbcType=CHAR}
    where u_administrators = #{uAdministrators,jdbcType=INTEGER}
  </update>
</mapper>