<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingBeautyMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.TeamshoppingBeauty" >
    <id column="ts_beauty_id" property="tsBeautyId" jdbcType="INTEGER" />
    <result column="ts_beauty_brand" property="tsBeautyBrand" jdbcType="VARCHAR" />
    <result column="ts_beauty_type" property="tsBeautyType" jdbcType="VARCHAR" />
    <result column="ts_beauty_component" property="tsBeautyComponent" jdbcType="VARCHAR" />
    <result column="ts_beauty_amount" property="tsBeautyAmount" jdbcType="DOUBLE" />
    <result column="ts_beauty_date" property="tsBeautyDate" jdbcType="DATE" />
    <result column="ts_beauty_effect" property="tsBeautyEffect" jdbcType="VARCHAR" />
    <result column="ts_beauty_time" property="tsBeautyTime" jdbcType="VARCHAR" />
    <result column="ts_beauty_people" property="tsBeautyPeople" jdbcType="VARCHAR" />
    <result column="ts_beauty_picture" property="tsBeautyPicture" jdbcType="VARCHAR" />
    <result column="ts_beauty_number" property="tsBeautyNumber" jdbcType="INTEGER" />
    <result column="ts_beauty_money" property="tsBeautyMoney" jdbcType="DOUBLE" />
    <result column="ts_beauty_introduce" property="tsBeautyIntroduce" jdbcType="VARCHAR" />
    <result column="ts_beauty_state" property="tsBeautyState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ts_beauty_id, ts_beauty_brand, ts_beauty_type, ts_beauty_component, ts_beauty_amount, 
    ts_beauty_date, ts_beauty_effect, ts_beauty_time, ts_beauty_people, ts_beauty_picture, 
    ts_beauty_number, ts_beauty_money, ts_beauty_introduce, ts_beauty_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.TeamshoppingBeautyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teamshopping_beauty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teamshopping_beauty
    where ts_beauty_id = #{tsBeautyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teamshopping_beauty
    where ts_beauty_id = #{tsBeautyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.TeamshoppingBeautyExample" >
    delete from teamshopping_beauty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.TeamshoppingBeauty" >
    insert into teamshopping_beauty (ts_beauty_id, ts_beauty_brand, ts_beauty_type, 
      ts_beauty_component, ts_beauty_amount, ts_beauty_date, 
      ts_beauty_effect, ts_beauty_time, ts_beauty_people, 
      ts_beauty_picture, ts_beauty_number, ts_beauty_money, 
      ts_beauty_introduce, ts_beauty_state)
    values (#{tsBeautyId,jdbcType=INTEGER}, #{tsBeautyBrand,jdbcType=VARCHAR}, #{tsBeautyType,jdbcType=VARCHAR}, 
      #{tsBeautyComponent,jdbcType=VARCHAR}, #{tsBeautyAmount,jdbcType=DOUBLE}, #{tsBeautyDate,jdbcType=DATE}, 
      #{tsBeautyEffect,jdbcType=VARCHAR}, #{tsBeautyTime,jdbcType=VARCHAR}, #{tsBeautyPeople,jdbcType=VARCHAR}, 
      #{tsBeautyPicture,jdbcType=VARCHAR}, #{tsBeautyNumber,jdbcType=INTEGER}, #{tsBeautyMoney,jdbcType=DOUBLE}, 
      #{tsBeautyIntroduce,jdbcType=VARCHAR}, #{tsBeautyState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.TeamshoppingBeauty" >
    insert into teamshopping_beauty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tsBeautyId != null" >
        ts_beauty_id,
      </if>
      <if test="tsBeautyBrand != null" >
        ts_beauty_brand,
      </if>
      <if test="tsBeautyType != null" >
        ts_beauty_type,
      </if>
      <if test="tsBeautyComponent != null" >
        ts_beauty_component,
      </if>
      <if test="tsBeautyAmount != null" >
        ts_beauty_amount,
      </if>
      <if test="tsBeautyDate != null" >
        ts_beauty_date,
      </if>
      <if test="tsBeautyEffect != null" >
        ts_beauty_effect,
      </if>
      <if test="tsBeautyTime != null" >
        ts_beauty_time,
      </if>
      <if test="tsBeautyPeople != null" >
        ts_beauty_people,
      </if>
      <if test="tsBeautyPicture != null" >
        ts_beauty_picture,
      </if>
      <if test="tsBeautyNumber != null" >
        ts_beauty_number,
      </if>
      <if test="tsBeautyMoney != null" >
        ts_beauty_money,
      </if>
      <if test="tsBeautyIntroduce != null" >
        ts_beauty_introduce,
      </if>
      <if test="tsBeautyState != null" >
        ts_beauty_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tsBeautyId != null" >
        #{tsBeautyId,jdbcType=INTEGER},
      </if>
      <if test="tsBeautyBrand != null" >
        #{tsBeautyBrand,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyType != null" >
        #{tsBeautyType,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyComponent != null" >
        #{tsBeautyComponent,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyAmount != null" >
        #{tsBeautyAmount,jdbcType=DOUBLE},
      </if>
      <if test="tsBeautyDate != null" >
        #{tsBeautyDate,jdbcType=DATE},
      </if>
      <if test="tsBeautyEffect != null" >
        #{tsBeautyEffect,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyTime != null" >
        #{tsBeautyTime,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyPeople != null" >
        #{tsBeautyPeople,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyPicture != null" >
        #{tsBeautyPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyNumber != null" >
        #{tsBeautyNumber,jdbcType=INTEGER},
      </if>
      <if test="tsBeautyMoney != null" >
        #{tsBeautyMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsBeautyIntroduce != null" >
        #{tsBeautyIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyState != null" >
        #{tsBeautyState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.TeamshoppingBeautyExample" resultType="java.lang.Integer" >
    select count(*) from teamshopping_beauty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teamshopping_beauty
    <set >
      <if test="record.tsBeautyId != null" >
        ts_beauty_id = #{record.tsBeautyId,jdbcType=INTEGER},
      </if>
      <if test="record.tsBeautyBrand != null" >
        ts_beauty_brand = #{record.tsBeautyBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.tsBeautyType != null" >
        ts_beauty_type = #{record.tsBeautyType,jdbcType=VARCHAR},
      </if>
      <if test="record.tsBeautyComponent != null" >
        ts_beauty_component = #{record.tsBeautyComponent,jdbcType=VARCHAR},
      </if>
      <if test="record.tsBeautyAmount != null" >
        ts_beauty_amount = #{record.tsBeautyAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.tsBeautyDate != null" >
        ts_beauty_date = #{record.tsBeautyDate,jdbcType=DATE},
      </if>
      <if test="record.tsBeautyEffect != null" >
        ts_beauty_effect = #{record.tsBeautyEffect,jdbcType=VARCHAR},
      </if>
      <if test="record.tsBeautyTime != null" >
        ts_beauty_time = #{record.tsBeautyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.tsBeautyPeople != null" >
        ts_beauty_people = #{record.tsBeautyPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.tsBeautyPicture != null" >
        ts_beauty_picture = #{record.tsBeautyPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.tsBeautyNumber != null" >
        ts_beauty_number = #{record.tsBeautyNumber,jdbcType=INTEGER},
      </if>
      <if test="record.tsBeautyMoney != null" >
        ts_beauty_money = #{record.tsBeautyMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.tsBeautyIntroduce != null" >
        ts_beauty_introduce = #{record.tsBeautyIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.tsBeautyState != null" >
        ts_beauty_state = #{record.tsBeautyState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teamshopping_beauty
    set ts_beauty_id = #{record.tsBeautyId,jdbcType=INTEGER},
      ts_beauty_brand = #{record.tsBeautyBrand,jdbcType=VARCHAR},
      ts_beauty_type = #{record.tsBeautyType,jdbcType=VARCHAR},
      ts_beauty_component = #{record.tsBeautyComponent,jdbcType=VARCHAR},
      ts_beauty_amount = #{record.tsBeautyAmount,jdbcType=DOUBLE},
      ts_beauty_date = #{record.tsBeautyDate,jdbcType=DATE},
      ts_beauty_effect = #{record.tsBeautyEffect,jdbcType=VARCHAR},
      ts_beauty_time = #{record.tsBeautyTime,jdbcType=VARCHAR},
      ts_beauty_people = #{record.tsBeautyPeople,jdbcType=VARCHAR},
      ts_beauty_picture = #{record.tsBeautyPicture,jdbcType=VARCHAR},
      ts_beauty_number = #{record.tsBeautyNumber,jdbcType=INTEGER},
      ts_beauty_money = #{record.tsBeautyMoney,jdbcType=DOUBLE},
      ts_beauty_introduce = #{record.tsBeautyIntroduce,jdbcType=VARCHAR},
      ts_beauty_state = #{record.tsBeautyState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.TeamshoppingBeauty" >
    update teamshopping_beauty
    <set >
      <if test="tsBeautyBrand != null" >
        ts_beauty_brand = #{tsBeautyBrand,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyType != null" >
        ts_beauty_type = #{tsBeautyType,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyComponent != null" >
        ts_beauty_component = #{tsBeautyComponent,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyAmount != null" >
        ts_beauty_amount = #{tsBeautyAmount,jdbcType=DOUBLE},
      </if>
      <if test="tsBeautyDate != null" >
        ts_beauty_date = #{tsBeautyDate,jdbcType=DATE},
      </if>
      <if test="tsBeautyEffect != null" >
        ts_beauty_effect = #{tsBeautyEffect,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyTime != null" >
        ts_beauty_time = #{tsBeautyTime,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyPeople != null" >
        ts_beauty_people = #{tsBeautyPeople,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyPicture != null" >
        ts_beauty_picture = #{tsBeautyPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyNumber != null" >
        ts_beauty_number = #{tsBeautyNumber,jdbcType=INTEGER},
      </if>
      <if test="tsBeautyMoney != null" >
        ts_beauty_money = #{tsBeautyMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsBeautyIntroduce != null" >
        ts_beauty_introduce = #{tsBeautyIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsBeautyState != null" >
        ts_beauty_state = #{tsBeautyState,jdbcType=VARCHAR},
      </if>
    </set>
    where ts_beauty_id = #{tsBeautyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.TeamshoppingBeauty" >
    update teamshopping_beauty
    set ts_beauty_brand = #{tsBeautyBrand,jdbcType=VARCHAR},
      ts_beauty_type = #{tsBeautyType,jdbcType=VARCHAR},
      ts_beauty_component = #{tsBeautyComponent,jdbcType=VARCHAR},
      ts_beauty_amount = #{tsBeautyAmount,jdbcType=DOUBLE},
      ts_beauty_date = #{tsBeautyDate,jdbcType=DATE},
      ts_beauty_effect = #{tsBeautyEffect,jdbcType=VARCHAR},
      ts_beauty_time = #{tsBeautyTime,jdbcType=VARCHAR},
      ts_beauty_people = #{tsBeautyPeople,jdbcType=VARCHAR},
      ts_beauty_picture = #{tsBeautyPicture,jdbcType=VARCHAR},
      ts_beauty_number = #{tsBeautyNumber,jdbcType=INTEGER},
      ts_beauty_money = #{tsBeautyMoney,jdbcType=DOUBLE},
      ts_beauty_introduce = #{tsBeautyIntroduce,jdbcType=VARCHAR},
      ts_beauty_state = #{tsBeautyState,jdbcType=VARCHAR}
    where ts_beauty_id = #{tsBeautyId,jdbcType=INTEGER}
  </update>
</mapper>