<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingMusicalMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.TeamshoppingMusical" >
    <id column="ts_musical_id" property="tsMusicalId" jdbcType="INTEGER" />
    <result column="ts_musical_name" property="tsMusicalName" jdbcType="VARCHAR" />
    <result column="ts_musical_type" property="tsMusicalType" jdbcType="VARCHAR" />
    <result column="ts_musical_function" property="tsMusicalFunction" jdbcType="VARCHAR" />
    <result column="ts_musical_material" property="tsMusicalMaterial" jdbcType="VARCHAR" />
    <result column="ts_musical_color" property="tsMusicalColor" jdbcType="VARCHAR" />
    <result column="ts_musical_style" property="tsMusicalStyle" jdbcType="VARCHAR" />
    <result column="ts_musical_picture" property="tsMusicalPicture" jdbcType="VARCHAR" />
    <result column="ts_musical_number" property="tsMusicalNumber" jdbcType="INTEGER" />
    <result column="ts_musical_money" property="tsMusicalMoney" jdbcType="DOUBLE" />
    <result column="ts_musical_introduce" property="tsMusicalIntroduce" jdbcType="VARCHAR" />
    <result column="ts_musical_state" property="tsMusicalState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ts_musical_id, ts_musical_name, ts_musical_type, ts_musical_function, ts_musical_material, 
    ts_musical_color, ts_musical_style, ts_musical_picture, ts_musical_number, ts_musical_money, 
    ts_musical_introduce, ts_musical_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.bean.TeamshoppingMusicalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teamshopping_musical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teamshopping_musical
    where ts_musical_id = #{tsMusicalId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teamshopping_musical
    where ts_musical_id = #{tsMusicalId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.bean.TeamshoppingMusicalExample" >
    delete from teamshopping_musical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.TeamshoppingMusical" >
    insert into teamshopping_musical (ts_musical_id, ts_musical_name, ts_musical_type, 
      ts_musical_function, ts_musical_material, ts_musical_color, 
      ts_musical_style, ts_musical_picture, ts_musical_number, 
      ts_musical_money, ts_musical_introduce, ts_musical_state
      )
    values (#{tsMusicalId,jdbcType=INTEGER}, #{tsMusicalName,jdbcType=VARCHAR}, #{tsMusicalType,jdbcType=VARCHAR}, 
      #{tsMusicalFunction,jdbcType=VARCHAR}, #{tsMusicalMaterial,jdbcType=VARCHAR}, #{tsMusicalColor,jdbcType=VARCHAR}, 
      #{tsMusicalStyle,jdbcType=VARCHAR}, #{tsMusicalPicture,jdbcType=VARCHAR}, #{tsMusicalNumber,jdbcType=INTEGER}, 
      #{tsMusicalMoney,jdbcType=DOUBLE}, #{tsMusicalIntroduce,jdbcType=VARCHAR}, #{tsMusicalState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.TeamshoppingMusical" >
    insert into teamshopping_musical
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tsMusicalId != null" >
        ts_musical_id,
      </if>
      <if test="tsMusicalName != null" >
        ts_musical_name,
      </if>
      <if test="tsMusicalType != null" >
        ts_musical_type,
      </if>
      <if test="tsMusicalFunction != null" >
        ts_musical_function,
      </if>
      <if test="tsMusicalMaterial != null" >
        ts_musical_material,
      </if>
      <if test="tsMusicalColor != null" >
        ts_musical_color,
      </if>
      <if test="tsMusicalStyle != null" >
        ts_musical_style,
      </if>
      <if test="tsMusicalPicture != null" >
        ts_musical_picture,
      </if>
      <if test="tsMusicalNumber != null" >
        ts_musical_number,
      </if>
      <if test="tsMusicalMoney != null" >
        ts_musical_money,
      </if>
      <if test="tsMusicalIntroduce != null" >
        ts_musical_introduce,
      </if>
      <if test="tsMusicalState != null" >
        ts_musical_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tsMusicalId != null" >
        #{tsMusicalId,jdbcType=INTEGER},
      </if>
      <if test="tsMusicalName != null" >
        #{tsMusicalName,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalType != null" >
        #{tsMusicalType,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalFunction != null" >
        #{tsMusicalFunction,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalMaterial != null" >
        #{tsMusicalMaterial,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalColor != null" >
        #{tsMusicalColor,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalStyle != null" >
        #{tsMusicalStyle,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalPicture != null" >
        #{tsMusicalPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalNumber != null" >
        #{tsMusicalNumber,jdbcType=INTEGER},
      </if>
      <if test="tsMusicalMoney != null" >
        #{tsMusicalMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsMusicalIntroduce != null" >
        #{tsMusicalIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalState != null" >
        #{tsMusicalState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.bean.TeamshoppingMusicalExample" resultType="java.lang.Integer" >
    select count(*) from teamshopping_musical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teamshopping_musical
    <set >
      <if test="record.tsMusicalId != null" >
        ts_musical_id = #{record.tsMusicalId,jdbcType=INTEGER},
      </if>
      <if test="record.tsMusicalName != null" >
        ts_musical_name = #{record.tsMusicalName,jdbcType=VARCHAR},
      </if>
      <if test="record.tsMusicalType != null" >
        ts_musical_type = #{record.tsMusicalType,jdbcType=VARCHAR},
      </if>
      <if test="record.tsMusicalFunction != null" >
        ts_musical_function = #{record.tsMusicalFunction,jdbcType=VARCHAR},
      </if>
      <if test="record.tsMusicalMaterial != null" >
        ts_musical_material = #{record.tsMusicalMaterial,jdbcType=VARCHAR},
      </if>
      <if test="record.tsMusicalColor != null" >
        ts_musical_color = #{record.tsMusicalColor,jdbcType=VARCHAR},
      </if>
      <if test="record.tsMusicalStyle != null" >
        ts_musical_style = #{record.tsMusicalStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.tsMusicalPicture != null" >
        ts_musical_picture = #{record.tsMusicalPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.tsMusicalNumber != null" >
        ts_musical_number = #{record.tsMusicalNumber,jdbcType=INTEGER},
      </if>
      <if test="record.tsMusicalMoney != null" >
        ts_musical_money = #{record.tsMusicalMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.tsMusicalIntroduce != null" >
        ts_musical_introduce = #{record.tsMusicalIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.tsMusicalState != null" >
        ts_musical_state = #{record.tsMusicalState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teamshopping_musical
    set ts_musical_id = #{record.tsMusicalId,jdbcType=INTEGER},
      ts_musical_name = #{record.tsMusicalName,jdbcType=VARCHAR},
      ts_musical_type = #{record.tsMusicalType,jdbcType=VARCHAR},
      ts_musical_function = #{record.tsMusicalFunction,jdbcType=VARCHAR},
      ts_musical_material = #{record.tsMusicalMaterial,jdbcType=VARCHAR},
      ts_musical_color = #{record.tsMusicalColor,jdbcType=VARCHAR},
      ts_musical_style = #{record.tsMusicalStyle,jdbcType=VARCHAR},
      ts_musical_picture = #{record.tsMusicalPicture,jdbcType=VARCHAR},
      ts_musical_number = #{record.tsMusicalNumber,jdbcType=INTEGER},
      ts_musical_money = #{record.tsMusicalMoney,jdbcType=DOUBLE},
      ts_musical_introduce = #{record.tsMusicalIntroduce,jdbcType=VARCHAR},
      ts_musical_state = #{record.tsMusicalState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.TeamshoppingMusical" >
    update teamshopping_musical
    <set >
      <if test="tsMusicalName != null" >
        ts_musical_name = #{tsMusicalName,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalType != null" >
        ts_musical_type = #{tsMusicalType,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalFunction != null" >
        ts_musical_function = #{tsMusicalFunction,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalMaterial != null" >
        ts_musical_material = #{tsMusicalMaterial,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalColor != null" >
        ts_musical_color = #{tsMusicalColor,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalStyle != null" >
        ts_musical_style = #{tsMusicalStyle,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalPicture != null" >
        ts_musical_picture = #{tsMusicalPicture,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalNumber != null" >
        ts_musical_number = #{tsMusicalNumber,jdbcType=INTEGER},
      </if>
      <if test="tsMusicalMoney != null" >
        ts_musical_money = #{tsMusicalMoney,jdbcType=DOUBLE},
      </if>
      <if test="tsMusicalIntroduce != null" >
        ts_musical_introduce = #{tsMusicalIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tsMusicalState != null" >
        ts_musical_state = #{tsMusicalState,jdbcType=VARCHAR},
      </if>
    </set>
    where ts_musical_id = #{tsMusicalId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.TeamshoppingMusical" >
    update teamshopping_musical
    set ts_musical_name = #{tsMusicalName,jdbcType=VARCHAR},
      ts_musical_type = #{tsMusicalType,jdbcType=VARCHAR},
      ts_musical_function = #{tsMusicalFunction,jdbcType=VARCHAR},
      ts_musical_material = #{tsMusicalMaterial,jdbcType=VARCHAR},
      ts_musical_color = #{tsMusicalColor,jdbcType=VARCHAR},
      ts_musical_style = #{tsMusicalStyle,jdbcType=VARCHAR},
      ts_musical_picture = #{tsMusicalPicture,jdbcType=VARCHAR},
      ts_musical_number = #{tsMusicalNumber,jdbcType=INTEGER},
      ts_musical_money = #{tsMusicalMoney,jdbcType=DOUBLE},
      ts_musical_introduce = #{tsMusicalIntroduce,jdbcType=VARCHAR},
      ts_musical_state = #{tsMusicalState,jdbcType=VARCHAR}
    where ts_musical_id = #{tsMusicalId,jdbcType=INTEGER}
  </update>
</mapper>